<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>dev.nikitadev.lorempicsum</string>
	<key>connections</key>
	<dict>
		<key>8A0130E6-B338-4DD6-8A03-F2DF8B07142A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C32CFFFB-05D4-49F6-85B7-D0949DA42CDE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90B667AF-3CD4-46A0-A286-4B98E4DE9EB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E922E38A-B6F9-42DE-A853-2E67567A627C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA0F17EF-5EB7-4B0E-B85F-80E1F90B6C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62C15D4D-FF7B-4B4F-90CA-B9D22464DA3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E922E38A-B6F9-42DE-A853-2E67567A627C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A0130E6-B338-4DD6-8A03-F2DF8B07142A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F3FCA891-577F-457B-8AF0-493E337B131D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BA0F17EF-5EB7-4B0E-B85F-80E1F90B6C40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Nikita Meshchaninov</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>Get rundom image</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<true/>
				<key>skipvarencode</key>
				<true/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C32CFFFB-05D4-49F6-85B7-D0949DA42CDE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>{var:regex_match}</string>
				<key>regexcaseinsensitive</key>
				<false/>
				<key>regexmultiline</key>
				<false/>
				<key>replacestring</key>
				<string>https://picsum.photos/$1/$3</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>8A0130E6-B338-4DD6-8A03-F2DF8B07142A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>lp</string>
				<key>subtext</key>
				<string>Enter size of image like "200", "200x300", "200 300"</string>
				<key>text</key>
				<string>Get rundom image from https://picsum.photos</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>90B667AF-3CD4-46A0-A286-4B98E4DE9EB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>{var:regex_match}</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>F3FCA891-577F-457B-8AF0-493E337B131D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E922E38A-B6F9-42DE-A853-2E67567A627C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Tink</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>BA0F17EF-5EB7-4B0E-B85F-80E1F90B6C40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>You should write resolution arguments like: "200", "200x300", "200 300"</string>
				<key>title</key>
				<string>Invalide arguments: "{query}"</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>62C15D4D-FF7B-4B4F-90CA-B9D22464DA3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Usage
Get rundom image from https://picsum.photos  
Write `lp` and resolution and you can download the photo from the defalt browser.

![preview1](./media/preview1.png)
![preview2](./media/preview2.png)
![preview3](./media/preview3.png)
￼
↩: Open browser with photo</string>
	<key>uidata</key>
	<dict>
		<key>62C15D4D-FF7B-4B4F-90CA-B9D22464DA3C</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>8A0130E6-B338-4DD6-8A03-F2DF8B07142A</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>90B667AF-3CD4-46A0-A286-4B98E4DE9EB4</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>BA0F17EF-5EB7-4B0E-B85F-80E1F90B6C40</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>C32CFFFB-05D4-49F6-85B7-D0949DA42CDE</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>E922E38A-B6F9-42DE-A853-2E67567A627C</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>lp</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword that activates the workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>regex_match</key>
		<string>^(\d+)([x ](\d+))?$</string>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://nikitadev.dev</string>
</dict>
</plist>
